body, html{
    font-size: 16px;
    letter-spacing: -0.025rem;
}
a{
    display: block;
}
a:hover{
    text-decoration: none;
}
#main #wrap{
    margin: 0;
}
#main #wrap #container{
    width: 100%;
}
#main #wrap #container #contents{
    float: none;
    margin: 0 auto;
    width: 100%;
}
#main .container{
    width: 1680px;
    margin: 0 auto;
}

/* 헤더영역 */
#header{
    background-color: #fff;
    height: 100px;
}
#header,
#header:before,
#header:after{
    position: relative;
    border: 0;
}
#header.fix {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
#header .inner{
    width: 1680px;
    height: 100%;
    position: static;
}
#header .inner:after,
#header .topArea:after,
#container:after{
    display: none;
}
#header .topArea{
    height: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main #header .inner .topArea .xans-element-.xans-layout.xans-layout-logotop {
    margin: 0 100px 0 0;
}
#header #category.xans-layout-category{
    margin-bottom: 0;
    width: 60%;
}

#header #category.xans-layout-category .sub-list-box .one_depth{
    display: none;
}
#header .topArea .xans-layout-category .position .category_depth{
    position: relative;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list{
    display: flex;
    gap: 20px;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li{
    text-align: center;
    width: 12%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a{
    display: block;
    line-height: 5;
    font-weight: 600;
    font-size: 1rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    z-index: 99999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
    gap: 20px;
}
#header .topArea .xans-layout-category .position .category_depth:hover .sub-list-box{
    opacity: 1;
    visibility: visible;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(2) {
    position: absolute;
    top: 0;
    left: 14%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(3) {
    position: absolute;
    top: 0;
    left: 42%;
}

#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list{
    width: 12%;
    text-align: center;
    margin: 0 0 2rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:last-child{
    border-right: none;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a{
    display: inline-flex;
    flex-direction: column;
    line-height: 44px;
    color: #949494;
    margin: 0 1rem;
    position: relative;
    font-size: .875rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-category-list .sub-menu a:hover{
    color: #000;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover::after{
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ccc;
    transition: all .2s ease-in-out;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#header .topArea #category:hover ~ .header-bg{
    opacity: 1;
    visibility: visible;
}
#header .topArea .header-bg{
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 15rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#header .inner .topArea .xans-element-.xans-layout.xans-layout-logotop{
    width: 100px;
    margin: 0;
}
#header .topArea .xans-layout-category .category_depth > li,
.category_depth > .xans-record-{
    display: none;
}

.util-menu{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.util-menu a img{
    display: block;
}
.xans-element-.xans-layout.xans-layout-searchheader {
    float: none;
    margin: 0;
}
.xans-element-.xans-layout.xans-layout-searchheader #keyword{
    display: none;
}
.xans-element-.xans-layout.xans-layout-searchheader fieldset{
    border: 0;
}
.xans-element-.xans-layout.xans-layout-statelogon,
.xans-element-.xans-layout.xans-layout-statelogoff{
    float: none;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1.25rem;
}
.xans-element-.xans-layout.xans-layout-statelogon a,
.xans-element-.xans-layout.xans-layout-statelogoff a{
    display: block;
    padding: 0;
    background: none;
}

/* 푸터영역 */
#footer{
    background-color: #f5f5f5;
}
#footer .inner{
    width: 1680px;
    margin: 0 auto;
    height: 100%;
}
#footer .inner .xans-layout-footer{
    width: 100%;
    height: 100%;
    margin: 4.0625rem auto;
    display: flex;
    justify-content: space-between;
}

/*푸터 좌측*/
#footer .inner .xans-layout-footer .footer-left{
    font-size: .75rem;
}
#footer .inner .xans-layout-footer .footer-left .footer-left-top{
    margin-bottom: 3.75rem;
}
#footer .inner .xans-layout-footer .footer-left .contact-number{
    font-size: 1rem;
}
#footer .inner .xans-layout-footer .footer-left .contact-box{
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn{
    display: flex;
    gap: .9375rem;
    text-align: center;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn > li a{
    display: block;
    width: 144px;
    padding: .625rem 0;
    color: #fff;
    transition: all 0.1s ease-in-out;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn1 a{
    background-color: #000;
    border: solid 1px #000;
    box-sizing: border-box;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn1 a:hover{
    background: transparent;
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn2 a{
    background-color: #666666;
    border: solid 1px #666;
    box-sizing: border-box;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn2 a:hover{
    background-color: transparent;
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .footer-left-bottom {
    color: #9a9a9a;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu {
    display: flex;
    gap: .875rem;
    overflow: hidden;
    height: fit-content;
    line-height: normal;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li{
    float: none;
    background: none;
    padding: 0;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li a{
    display: block;
    color: #9a9a9a;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li:hover a{
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .copyright {
    position: relative;
    line-height: normal;
    margin-top: .375rem;
    height: fit-content;
    font-size: .75rem;
}

/* 푸터 우측 */
#footer .inner .xans-layout-footer .footer-right{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer .inner .xans-layout-footer .footer-right .family-site-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .inner .xans-layout-footer .family-site-box .lush-family-site{
    display: flex;
    align-items: center;
    gap: .625rem;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    text-align: left;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu > li{
    width: 50%;
    margin-bottom: .375rem;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu > li:nth-child(2), 
#footer .inner .xans-layout-footer .footer-right .footer-menu > li:nth-child(4){
    text-align: right;
    color: #666;
}

/* 메인배너 슬라이드 영역 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .banner-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* 가운데까지만 그라데이션이 적용되도록 설정 */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); /* 왼쪽에서 오른쪽으로 연한 그라데이션 */
    z-index: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: 12%;
    color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 75px);
    top: var(--swiper-pagination-top, auto);
    left: calc(50% - 25px);
    color: #000;
    border-radius: 14px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 50px;
    height: 24px;
    font-size: .875rem;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* 검정색 반투명 딤드 효과 */
    z-index: 1; /* 이미지 위에 위치하도록 설정 */
}

.visual .swiper .swiper-wrapper .swiper-slide{
    position: relative;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text{
    position: absolute;
    top: calc(50% - 83px);
    left: 180px;
    color: #fff;
    z-index: 2;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .slide-main-text{
    font-size: 3.125rem;
    margin-bottom: .375rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .slide-sub-text{
    font-size: 1.25rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text2{
    text-align: center;
    left: calc(50% - 275px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn{
    display: flex;
    align-items: center;
    gap: 4px;
    transform: translateY(20px);
    width: fit-content;
    padding-bottom: 8px;
    font-size: .875rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: bottom 0.5s;
    box-sizing: border-box;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn a{
    color: #fff;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn img{
    width: 12px;
    height: 12px;
}

/* 신상품 */

.tab-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-box .tab-menu-box{
    width: 18%;
    text-align: center;
}
.tab-box .tab-menu-box .new-title{
    font-size: 1.5rem;
    margin-bottom: 2.125rem;
    font-weight: 400;
}

.tab-box .tab-menu-box .tab-menu{
    font-size: 1.75rem;
}
.tab-box .tab-menu-box .tab-menu{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-box .tab-menu-box .tab-menu .nav-item .nav-link.active{
    display: block;
    color: #10A47A;
}
.tab-box .tab-menu-box .tab-menu .nav-item .nav-link{
    color: #ddd;
}
.tab-box .tab-content{
    width: 82%;
    max-width: 1380px;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-box .tab-content #bath,
.tab-box .tab-content #shower,
.tab-box .tab-content #body,
.tab-box .tab-content #hair{
    width: 100%;
}

.tab-box .tab-content #bath .ec-base-product.swiper.mySwiper.new-swiper ul.grid5.swiper-wrapper > li.swiper-slide {
    width: 300px !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tab-box .tab-content #bath .ec-base-product.new-swiper ul.grid5 > li.swiper-slide::after {
    position: relative;
}
.tab-box .tab-content #bath .ec-base-product ul.grid5 li .thumbnail {
    width: 100%;
    float: none;
}
.tab-box .tab-content #bath .ec-base-product .prdList .thumbnail a img {
    width: 90%;
}

/* 에디션 영역 */

.limit{
    display: flex;
    justify-content: space-between;
}
.limit .left,
.limit .right{
    width: 49%;
    position: relative;
}
.limit .edition{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.limit .edition1{
    background: url("/images/edition1-bg-img.jpg") no-repeat center / cover;
}
.limit .edition2{
    background: url("/images/edition2-bg-img.jpg") no-repeat center / cover;
}
.limit .edition1::after,
.limit .edition2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 검정색 반투명 딤드 효과 */
    z-index: 1; /* 이미지 위에 위치하도록 설정 */
}
.limit .edition .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 450px;
    position: relative;
    z-index: 2;
}
.limit .edition .edition-object{
    font-size: 1.125rem;
    z-index: 2;
    color: #FF0086;
}
.limit .edition .edition-title{
    font-size: 2.625rem;
    color: #fff;
    z-index: 2;
    margin-bottom: 1.75rem;
}
.limit .edition .img-box img{
    display: block;
}
.limit .edition .more-btn{
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #fff;
    font-size: .875rem;
    z-index: 2;
}
.limit .edition .more-btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
}

/* 러쉬 랭킹 영역 */

.ranking{
    padding: 80px 0;
}
.ranking .ranking-box{
    display: flex;
    display: flex;
    gap: 70px;
    align-items: center;
}
.ranking .ranking-title{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 50px;
}
.ranking .ranking-left{
    width: 30%;
}
.ranking .ranking-right{
    width: 70%;
}
.ranking .ec-base-product .prdList > li {
    margin: 0;
}
.ranking .ranking-box .ranking-left .ec-base-product .prdList {
    min-width: auto;
}
.ranking .ranking-box .ranking-left .ec-base-product .prdList > li{
    width: 100%;
}
.ranking .ranking-box .ranking-left .ec-base-product .prdList > li .thumbnail .prdImg,
.ranking .ranking-box .ranking-right .ec-base-product .prdList > li .thumbnail .prdImg{
    background-color: #f5f5f5;
}