body, html{
    font-size: 16px;
    letter-spacing: -0.025rem;
}
a:hover{
    text-decoration: none;
}
#main #wrap{
    margin: 0;
    width: 100%;
}
#main #wrap #container #contents{
    float: none;
    margin: 0 auto;
    width: 100%;
}
#main .container{
    width: 1680px;
    margin: 0 auto;
}
.sub-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/* 공통 레이아웃 */
.section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 50px;
}
/* 상품 공통 레이아웃 */
.ec-base-product {
    margin: 0;
}
.ec-base-product .prdList {
    margin: 0;
    gap: 1rem;
}
.ec-base-product .prdList .thumbnail {
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: relative;
}
.ec-base-product .prdList .thumbnail .button {
    float: none;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    gap: 3px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.ec-base-product .prdList .thumbnail:hover .button{
    opacity: 100%;
}
.ec-base-product .prdList .thumbnail .button img {
    margin: 0;
}
.ec-base-product .prdList .thumbnail .wish {
    position: relative;
    right: 0;
    bottom: 0;
}
.ec-base-product .prdList .thumbnail .icon {
    border: none;
    margin: 0;
}

.ec-base-product .prdList .description {
    margin: 0;
    padding: 8px 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}
.ec-base-product .spec li:nth-child(2),
.ec-base-product .spec li:nth-child(3) {
    display: inline-block;
    font-weight: 500;
}
.ec-base-product .spec > li span .discount-text{
    color: #10A47A;
    font-size: 1rem;
    margin-left: 6px;
    display: inline-block;
    transform: translateX(70px);
}
.ec-base-product .spec li:nth-child(2) > span.price-text span:nth-child(1){
    display: none;
    text-decoration: line-through;
}

/* 헤더영역 */
#header{
    background-color: #fff;
    height: 100px;
}
#header,
#header:before,
#header:after{
    position: relative;
    border: 0;
}
#header.fix {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
#header .inner{
    width: 1680px;
    height: 100%;
    position: static;
}
#header .inner:after,
#header .topArea:after,
#container:after{
    display: none;
}
#header .topArea{
    height: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main #header .inner .topArea .xans-element-.xans-layout.xans-layout-logotop {
    margin: 0 100px 0 0;
}
#header #category.xans-layout-category{
    margin-bottom: 0;
    width: 60%;
}

#header #category.xans-layout-category .sub-list-box .one_depth{
    display: none;
}
#header .topArea .xans-layout-category .position .category_depth{
    position: relative;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list{
    display: flex;
    gap: 20px;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li{
    text-align: center;
    width: 12%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a{
    display: block;
    line-height: 5;
    font-weight: 600;
    font-size: 1rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    z-index: 99999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
    gap: 20px;
}
#header .topArea .xans-layout-category .position .category_depth:hover .sub-list-box{
    opacity: 1;
    visibility: visible;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(2) {
    position: absolute;
    top: 0;
    left: 14%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:nth-child(3) {
    position: absolute;
    top: 0;
    left: 42%;
}

#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list{
    width: 12%;
    text-align: center;
    margin: 0 0 2rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list:last-child{
    border-right: none;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a{
    display: inline-flex;
    flex-direction: column;
    line-height: 44px;
    color: #949494;
    margin: 0 1rem;
    position: relative;
    font-size: .875rem;
}
#header .topArea .xans-layout-category .position .category_depth .sub-category-list .sub-menu a:hover{
    color: #000;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:hover::after{
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ccc;
    transition: all .2s ease-in-out;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#header .topArea #category:hover ~ .header-bg{
    opacity: 1;
    visibility: visible;
}
#header .topArea .header-bg{
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 15rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#header .inner .topArea .xans-element-.xans-layout.xans-layout-logotop{
    width: 100px;
    margin: 0;
}
#header .topArea .xans-layout-category .category_depth > li,
.category_depth > .xans-record-{
    display: none;
}

.util-menu{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.util-menu a img{
    display: block;
}
.xans-element-.xans-layout.xans-layout-searchheader {
    float: none;
    margin: 0;
}
.xans-element-.xans-layout.xans-layout-searchheader #keyword{
    display: none;
}
.xans-element-.xans-layout.xans-layout-searchheader fieldset{
    border: 0;
}
.xans-element-.xans-layout.xans-layout-statelogon,
.xans-element-.xans-layout.xans-layout-statelogoff{
    float: none;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1.25rem;
}
.xans-element-.xans-layout.xans-layout-statelogon a,
.xans-element-.xans-layout.xans-layout-statelogoff a{
    display: block;
    padding: 0;
    background: none;
}

/* 푸터영역 */
#footer{
    background-color: #f5f5f5;
}
#footer .inner{
    width: 1680px;
    margin: 0 auto;
    /* height: 100%; */
}
#footer .inner .xans-layout-footer{
    width: 100%;
    /* height: 100%; */
    margin: 4.0625rem auto;
    display: flex;
    justify-content: space-between;
}

/*푸터 좌측*/
#footer .inner .xans-layout-footer .footer-left{
    font-size: .75rem;
}
#footer .inner .xans-layout-footer .footer-left .footer-left-top{
    margin-bottom: 3.75rem;
}
#footer .inner .xans-layout-footer .footer-left .contact-number{
    font-size: 1rem;
}
#footer .inner .xans-layout-footer .footer-left .contact-box{
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn{
    display: flex;
    gap: .9375rem;
    text-align: center;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn > li a{
    display: block;
    width: 144px;
    padding: .625rem 0;
    color: #fff;
    transition: all 0.1s ease-in-out;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn1 a{
    background-color: #000;
    border: solid 1px #000;
    box-sizing: border-box;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn1 a:hover{
    background: transparent;
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn2 a{
    background-color: #666666;
    border: solid 1px #666;
    box-sizing: border-box;
}
#footer .inner .xans-layout-footer .footer-left .contact-btn .contact-btn2 a:hover{
    background-color: transparent;
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .footer-left-bottom {
    color: #9a9a9a;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu {
    display: flex;
    gap: .875rem;
    overflow: hidden;
    height: fit-content;
    line-height: normal;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li{
    float: none;
    background: none;
    padding: 0;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li a{
    display: block;
    color: #9a9a9a;
}
#footer .inner .xans-layout-footer .footer-left .utilMenu > li:hover a{
    color: #000;
}
#footer .inner .xans-layout-footer .footer-left .copyright {
    position: relative;
    line-height: normal;
    margin-top: .375rem;
    height: fit-content;
    font-size: .75rem;
}

/* 푸터 우측 */
#footer .inner .xans-layout-footer .footer-right{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer .inner .xans-layout-footer .footer-right .family-site-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .inner .xans-layout-footer .family-site-box .lush-family-site{
    display: flex;
    align-items: center;
    gap: .625rem;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    text-align: left;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu > li{
    width: 50%;
    margin-bottom: .375rem;
}
#footer .inner .xans-layout-footer .footer-right .footer-menu > li:nth-child(2), 
#footer .inner .xans-layout-footer .footer-right .footer-menu > li:nth-child(4){
    text-align: right;
    color: #666;
}

/* 메인배너 슬라이드 영역 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .banner-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* 가운데까지만 그라데이션이 적용되도록 설정 */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); /* 왼쪽에서 오른쪽으로 연한 그라데이션 */
    z-index: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: 12%;
    color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 75px);
    top: var(--swiper-pagination-top, auto);
    left: calc(50% - 25px);
    color: #000;
    border-radius: 14px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 50px;
    height: 24px;
    font-size: .875rem;
}

.visual .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* 검정색 반투명 딤드 효과 */
    z-index: 1; /* 이미지 위에 위치하도록 설정 */
}

.visual .swiper .swiper-wrapper .swiper-slide{
    position: relative;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text{
    position: absolute;
    top: calc(50% - 83px);
    left: 180px;
    color: #fff;
    z-index: 2;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .slide-main-text{
    font-size: 3rem;
    margin-bottom: .375rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .slide-sub-text{
    font-size: 1.25rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text2{
    text-align: center;
    left: calc(50% - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn{
    display: flex;
    align-items: center;
    gap: 4px;
    transform: translateY(20px);
    width: fit-content;
    padding-bottom: 8px;
    font-size: .875rem;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: bottom 0.5s;
    box-sizing: border-box;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn a{
    color: #fff;
}
.visual .swiper .swiper-wrapper .swiper-slide .slide-text .more-btn img{
    width: 12px;
    height: 12px;
}

/* 신상품 */

.tab-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0 5rem;
}
.tab-box .tab-menu-box{
    width: 18%;
    text-align: center;
}
.tab-box .tab-menu-box .new-title{
    font-size: 1.5rem;
    margin-bottom: 2.125rem;
    font-weight: 400;
}

.tab-box .tab-menu-box .tab-menu{
    font-size: 1.75rem;
}
.tab-box .tab-menu-box .tab-menu{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-box .tab-menu-box .tab-menu .nav-item .nav-link.active{
    display: block;
    color: #10A47A;
}
.tab-box .tab-menu-box .tab-menu .nav-item .nav-link{
    color: #ddd;
}
.tab-box .tab-content{
    width: 82%;
    max-width: 1380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-box .tab-content #bath,
.tab-box .tab-content #shower,
.tab-box .tab-content #body,
.tab-box .tab-content #hair{
    width: 100%;
}

.tab-box .tab-content #bath .ec-base-product.swiper.mySwiper ul.grid5.swiper-wrapper > li.swiper-slide,
.tab-box .tab-content #shower .ec-base-product.swiper.mySwiper ul.grid5.swiper-wrapper > li.swiper-slide,
.tab-box .tab-content #body .ec-base-product.swiper.mySwiper ul.grid5.swiper-wrapper > li.swiper-slide,
.tab-box .tab-content #hair .ec-base-product.swiper.mySwiper ul.grid5.swiper-wrapper > li.swiper-slide{
    width: 300px !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tab-box .tab-content #bath .ec-base-product ul.grid5 > li.swiper-slide::after,
.tab-box .tab-content #shower .ec-base-product ul.grid5 > li.swiper-slide::after,
.tab-box .tab-content #body .ec-base-product ul.grid5 > li.swiper-slide::after,
.tab-box .tab-content #hair .ec-base-product ul.grid5 > li.swiper-slide::after{
    position: relative;
}
.tab-box .tab-content #bath .ec-base-product ul.grid5 li .thumbnail,
.tab-box .tab-content #shower .ec-base-product ul.grid5 li .thumbnail,
.tab-box .tab-content #body .ec-base-product ul.grid5 li .thumbnail,
.tab-box .tab-content #hair .ec-base-product ul.grid5 li .thumbnail {
    width: 100%;
    float: none;
}
.tab-box .tab-content #bath .ec-base-product .prdList .thumbnail a img,
.tab-box .tab-content #shower .ec-base-product .prdList .thumbnail a img,
.tab-box .tab-content #body .ec-base-product .prdList .thumbnail a img,
.tab-box .tab-content #hair .ec-base-product .prdList .thumbnail a img {
    width: 90%;
}
.tab-box .ec-base-product .spec li:nth-child(1) span{
    width: 180px;
    margin-bottom: 12px;
    display: block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}
.tab-box .ec-base-product .spec li:nth-child(3) span{
    transform: translateX(-35px);
    display: inline-block;
}
.tab-box .ec-base-product .spec > li span .discount-text{
    transform: translateX(70px);
}
.tab-box .ec-base-product .spec li:nth-child(2) > span.price-text span:nth-child(2){
    text-decoration: line-through;
}

/* 에디션 영역 */

.limit{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}
.limit .left,
.limit .right{
    width: 49%;
    position: relative;
}
.limit .edition{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.limit .edition:hover::after{
    background: rgba(0, 0, 0, 0.5);
}
.limit .edition::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 검정색 반투명 딤드 효과 */
    z-index: 1; /* 이미지 위에 위치하도록 설정 */
    transition: all 0.2s ease-in-out;
}
.limit .edition1{
    background: url("/images/edition1-bg-img.jpg") no-repeat center / cover;
}
.limit .edition2{
    background: url("/images/edition2-bg-img.jpg") no-repeat center / cover;
}
.limit .edition .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 450px;
    position: relative;
    z-index: 2;
}
.limit .edition .edition-object{
    font-size: 1.125rem;
    z-index: 2;
    color: #FF0086;
}
.limit .edition .edition-title{
    font-size: 2.625rem;
    color: #fff;
    z-index: 2;
    margin-bottom: 1.75rem;
}
.limit .edition .img-box img{
    display: block;
}
.limit .edition .more-btn{
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #fff;
    font-size: .875rem;
    z-index: 2;
}
.limit .edition .more-btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
}

/* 러쉬 랭킹 영역 */

.ranking{
    padding: 5rem 0;
}
.ranking .ranking-box{
    display: flex;
    gap: 70px;
    justify-content: space-between;
}
.ranking .ranking-left{
    width: 41%;
}
.ranking .ranking-left .ec-base-product .prdList .thumbnail .first-best-num{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 72px;
    height: 72px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #10A47A;
}
.ranking .ranking-left .ec-base-product .prdList .thumbnail .first-best-num span{
    display: block;
    margin-top: 4px;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1;
}
.ranking .ranking-right .ec-base-product .prdList .thumbnail .best-num{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #a6a6a6;
}
.ranking .ranking-left .ec-base-product .prdList .thumbnail .best-num span{
    display: block;
    margin-top: 4px;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1;
}

.ranking .ranking-right{
    width: 60%;
}
.ranking .ec-base-product{
    margin: 0;
}
.ranking .ec-base-product .prdList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ranking .ec-base-product .prdList > li {
    margin: 0;
    width: 23%;
}
.ranking .ec-base-product .prdList .thumbnail .promotion {
    float: none;
    margin: 0;
}
.ranking .ec-base-product .prdList .thumbnail a img {
    width: 100%;
}
.ranking .ranking-box .ranking-left .ec-base-product .prdList {
    min-width: auto;
}
.ranking .ranking-box .ranking-left .ec-base-product .prdList > li{
    width: 100%;
}
.ranking .ranking-box .ec-base-product .spec{
    display: flex;
    align-items: baseline;
    gap: 6px;
}
.ranking .ranking-box .ec-base-product .spec > li {
    display: inline-block;
    font-weight: 500;
}
.ranking .ranking-box .ec-base-product .spec > li:nth-child(3) span{
    transform: translateX(-37px);
}
.ranking .ranking-box .ec-base-product .spec > li span{
    display: inline-block;
}
.ranking .ranking-box .ec-base-product .spec > li:nth-child(1){
    display: none;
}
.ranking .ranking-box .ec-base-product .spec > li:nth-child(1) span {
    text-decoration: line-through;
}

/* 미들 배너 영역 */

#middle-swiper{
    width: 100%;
    height: 280px;
    padding: 5rem 0;
}
#middle-swiper .swiper-wrapper .swiper-slide{
    position: relative;
}
#middle-swiper .swiper-wrapper .swiper-slide::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
#middle-swiper .swiper-wrapper .swiper-slide.middle-bg1{
    background: url("/images/middle-bg1.jpg") no-repeat center / cover;
}
#middle-swiper .swiper-wrapper .swiper-slide.middle-bg2{
    background: url("/images/middle-bg2.jpg") no-repeat center / cover;
}
#middle-swiper .swiper-wrapper .swiper-slide.middle-bg3{
    background: url("/images/middle-bg3.jpg") no-repeat center / cover;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner{
    position: relative;
    display: flex;
    gap: 300px;
    z-index: 2;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-img-box{
    width: 230px;
    display: block;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-img-box img{
    width: 100%;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: #fff;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-text-box .product-name{
    font-size: 2.25rem;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-text-box .product-de{
    font-size: 1rem;
    margin-bottom: 24px;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-text-box .more-btn{
    width: fit-content;
}
#middle-swiper .swiper-wrapper .swiper-slide .middle-inner .middle-text-box .more-btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
}

/* 리뷰 영역 */
#review-swiper{
    padding: 80px 0;
    width: 100%;
}
#review-swiper .swiper-slide .img-box{
    position: relative;
}
#review-swiper .swiper-slide .img-box::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);    pointer-events: none; 
    content: '';
}
#review-swiper .swiper-slide .review-text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
}
#review-swiper .swiper-slide .review-text > a{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: #fff;
}
#review-swiper .swiper-slide .review-text > a .review-main{
    font-size: 1.5rem;
}
#review-swiper .swiper-slide .review-text > a .review-detail{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#review-swiper .swiper-slide {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}
#review-swiper .swiper-slide.swiper-slide-active{
    opacity: 1;
}

/* 기프트 영역 */

.gift-box{
    padding: 5rem 0 10rem;
}
.gift-swiper{
    width: 100%;
    margin: 0 auto;
}
.gift-swiper .swiper-slide{
    position: relative;
    background-color: #f5f5f5;
    max-width: 1235px;
    width: 100%;
    height: auto;
}
.gift-swiper .swiper-slide .list-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.gift-swiper .swiper-slide .list-box .inner-box{
    max-width: 720px;
    width: 57%;
}
.gift-swiper .swiper-slide .list-box .inner-box .img-box{
    padding-top: 110px;
}
.gift-swiper .swiper-slide .list-box .inner-box .img-box img{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.gift-swiper .swiper-slide .list-box .inner-box .inner{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100%;
}
.gift-swiper .swiper-slide .list-box .inner-box .inner .t01{
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.gift-swiper .swiper-slide .list-box .inner-box .inner .t02{
    font-size: 1rem;
}
.gift-swiper .swiper-slide .list-box .inner-flex{
    padding: 0 35px;
    max-width: 560px;
    width: 43%;
    box-sizing: border-box;
}
.gift-swiper .swiper-slide .inner-flex .ec-base-product .prdList {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.gift-swiper .swiper-slide .inner-flex .ec-base-product .prdList .thumbnail {
    background-color: #fff;
    width: 250px;
}
.gift-swiper .swiper-slide.four-product-slide .inner-flex .ec-base-product .prdList > li .thumbnail{
    width: 180px;
}
.gift-swiper .swiper-slide .inner-flex .ec-base-product .prdList > li{
    margin: 0;
    display: flex;
    gap: 1rem;
}
.gift-swiper .swiper-slide .inner-flex .ec-base-product .prdList > li .description{
    padding: 1rem 0;
}
.gift-swiper .swiper-slide .inner-flex .description .spec li:nth-child(1){
    display: none;
}
.gift-swiper .swiper-slide .inner-flex .description .spec li:nth-child(2) .price-text span:nth-child(2){
    text-decoration: line-through;
}
.gift-swiper .swiper-slide .inner-flex .description .spec li:nth-child(3) span{
    transform: translateX(-35px);
    display: inline-block;
}
.gift-swiper .ec-base-product .prdList .thumbnail .button .likeButton img:nth-child(2){
    display: none;
}

/* 미디어 영역 */
#media{
    position: relative;
    padding: 5rem 0 10rem;
}
#media .media-bg{
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    max-height: 720px;
    background-color: #f5f5f5;
}
#media iframe{
    margin: 0 auto;
    display: block;
}

/* 서브 페이지 배너 */

.path{
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: 3;
}
.title div span{
    display: block;
    position: relative;
}
.title .banner-dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.title .banner-dimmed img{
    width: 100%;
}
.title .banner-dimmed::after{
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}
.path{
    width: fit-content;
}
.path ol{
    display: flex;
    float: none;
    font-size: .875rem;
}
.path li{
    background: none;
    display: flex;
    align-items: center;
    padding: 0; 
    margin: 0 0 0 10px;
}
.path li a {
    color: #fff;
    display: block;
}
.path li::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
    margin-left: 8px;
}
.path li:nth-child(3)::after{
    display: none;
}
#list-top{
    margin-bottom: 50px;
}
#list-top .title{
    margin: 0;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#list-top .title .banner{
    margin: 0;
}
#list-top .title h2{
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 2.25rem;
    font-weight: 400;
}

/* 셀렉트 박스 */
.shelf-wrapper .shelf-filter{
    border: none;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    line-height: normal;
    align-items: center;
    margin-bottom: 20px;
}
.shelf-wrapper .shelf-filter .shelf-total{
    float: none;
    color: #767676;
    padding: 0;
    font-size: .9375rem;
}
.shelf-wrapper .shelf-filter .select-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 180px;
}
.shelf-wrapper .shelf-filter .select-box .select-title{
    position: relative;
    font-size: 1rem;
    margin: 0;
}
.shelf-wrapper .shelf-filter .select-box .select-title-box{
    border: solid 1px #ccc;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.shelf-wrapper .shelf-filter .select-box .select-title-box:hover{
    border: solid 1px #767676;
}
.shelf-wrapper .shelf-filter .select-box #select-list{
    margin: 0;
    background: #fff;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 100%;
    border-left: solid 1px #767676;
    border-bottom: solid 1px #767676;
    border-right: solid 1px #767676;
    box-sizing: border-box;

}
.shelf-wrapper .shelf-filter .select-box #select-list > li{
    display: block;
    text-align: left;
    padding: 0px;
    background: none;
    padding: 10px 15px;
}
.shelf-wrapper .shelf-filter .select-box #select-list > li:hover{
    background-color: #f5f5f5;
}
.shelf-wrapper .shelf-filter .select-box #select-list > li a{
    display: block;
    font-size: 1rem;
    font-weight: 400;
}
.cd-none{
    display: none;
}
.select-title-box.active {
    border: solid 1px #767676;
}

/* 상품 리스트 */
.shelf-wrapper .product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.shelf-wrapper .product-list .description{
    padding: 20px 0;
}
.shelf-wrapper .ec-base-product .grid4.product-list > li{
    width: calc(25% - 15px);
    margin: 0;
    padding-bottom: 40px;
}
.shelf-wrapper .ec-base-product .grid4.product-list .description .spec li:nth-child(3){
    transform: translateX(-35px);
}
.shelf-wrapper .ec-base-product .grid4.product-list > li:nth-child(4){
    margin-right: 0;
}
.shelf-wrapper .ec-base-product .description .spec li:nth-child(1) span{
    width: 290px;
    display: block;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
}

/* 상품 리스트 페이지네이션 */
.ec-base-paginate .page-num a.this{
    background-color: #000;
    color: #fff;
    border: none;
}
.ec-base-paginate .page-num li{
    border: none;
}
.ec-base-paginate .page-num li a{
    padding: 13px 3px
}
 /* 페이지네이션 화살표 */
.ec-base-paginate > a img{
    display: none;
}
.ec-base-paginate > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.ec-base-paginate .left1-icon::after,
.ec-base-paginate .left2-icon::after{
    transform: rotate(-135deg);
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: solid 1px #767676;
    border-right: solid 1px #767676;
}
.ec-base-paginate .left2-icon::before{
    transform: rotate(-135deg);
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: solid 1px #767676;
    border-right: solid 1px #767676;
}

.ec-base-paginate .right2-icon::before{
    transform: rotate(45deg);
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: solid 1px #767676;
    border-right: solid 1px #767676;
}
.ec-base-paginate .right1-icon::after,
.ec-base-paginate .right2-icon::after{
    transform: rotate(45deg);
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: solid 1px #767676;
    border-right: solid 1px #767676;
}

/* 퀵메뉴 */
#quick{
    z-index: 2;
}

/* 제품 상세페이지 */
#detail .thumbnail > a #zoomMouseGiude{
    display: none !important;
}
#detail .xans-product-detail .headingArea {
    border-bottom: none;
}
#detail .xans-product-detail .imgArea .xans-product-action,
#detail .xans-product-detail .imgArea .control {
    display: none;
}
#detail .xans-product-detail .detailArea {
    display: flex;
}
#detail .xans-product-detail .imgArea{
    float: none;
}
#detail .xans-product-detail .infoArea tr:nth-child(3),
#detail .xans-product-detail .infoArea tr:nth-child(4){
    display: inline-block;
}
#detail .xans-product-detail .infoArea tr:nth-child(1) th,
#detail .xans-product-detail .infoArea tr:nth-child(2) th,
#detail .xans-product-detail .infoArea tr:nth-child(3) th,
#detail .xans-product-detail .infoArea tr:nth-child(4) th{
    display: none;
}
#detail .xans-product-detail .infoArea tr:nth-child(2) td{
    width: 100%;
}


#detail  .xans-product-detail .infoArea td {
    padding: 0;
}

/* 상세페이지 탭 */
.tabProduct_box {height:61px;margin:0 auto 90px;}
.tabProduct {margin:0 auto;padding:15px 0;background-color:#fff;}
.tabProduct ul {margin:0 auto;display:flex;justify-content: center;max-width:800px;}
.tabProduct li {width:24%;padding:0;border:0;text-align:center;}
.tabProduct li:last-child {width:28%;padding:0;border:0;text-align:center;}
.tabProduct li a {position:relative;display:inline-block;font-weight:400;font-size:20px;color:#9a9a9a;letter-spacing:-0.05em;white-space:nowrap;}
.tabProduct li:last-child a {border-right:0;}
.tabProduct li.selected {border:0;}
.tabProduct li.selected a {font-weight:600;color:#d0ac88;background-color:#fff;border-bottom:2px solid #d0ac88;}
.tabProduct li a span {position:absolute;top:-10px;right:-10px;display:block;padding:0 5px;height:15px;color:#fff;font-size:12px;text-align:center;line-height:16px;text-indent: -0.5px;background-color:#9a9a9a;border-radius:15px;}
#prdReview,#prdQnA,#prdInfo {display:none;}
.tabProduct.tab_fixed {position:fixed;top:0;left:0;right:0;z-index:997;margin:0 auto;border-bottom:1px solid #e8e8e8;}