<footer id="footer">
    <div class="inner"> 

        <div module="Layout_footer">
            <!-- 푸터 좌측 -->
            <div class="footer-left">
                <div class="footer-left-top">
                    <p class="contact-number">쇼핑몰 관련 문의: 1234-5678</p>
                    <div class="contact-box">
                        <p class="contact-time">운영시간 : am 10:00 ~ pm 05:00 (토, 일 공휴일 휴무)</p>
                        <p class="contact-name">카카오톡 상담 : 러쉬코리아 (as문의만 가능)</p>
                    </div>
                    <ul class="contact-btn">
                        <li class="contact-btn1"><a href="#none">1:1 문의하기</a></li>
                        <li class="contact-btn2"><a href="#none">자주 하는 질문</a></li>
                    </ul>
                </div>
                <div class="footer-left-bottom">
                    <ul class="utilMenu">
                        <li><a href="/index.html">회사정보</a></li>
                        <li><a href="/shopinfo/company.html">회사소개</a></li>
                        <li><a href="/member/agreement.html">이용약관</a></li>
                        <li><a href="/member/privacy.html">개인정보처리방침</a></li>
                        <li><a href="/shopinfo/guide.html">고객센터</a></li>
                    </ul>
                    <p class="copyright">Copyright &copy; <strong>Lush</strong>. All rights reserved.</p>
                </div>
        </div>

            <!-- 푸터 우측 -->
            <div class="footer-right">
                <ul class="footer-menu">
                    <li><a href="#none">PROMOTION</a></li>
                    <li><a href="#none">NOTICE</a></li>
                    <li><a href="#none">EVENT</a></li>
                    <li><a href="#none">REVIEW</a></li>
                    <li><a href="#none">OFFLINE STORE</a></li>
                </ul>
                <div class="family-site-box">
                    <span><a href="#none"><img src="/images/lush-footer-logo.svg" alt="러쉬 푸터 로고 이미지입니다."></a></span>
                    <ul class="lush-family-site">
                        <li><a href="#none"><img src="/images/icon/lush-youtube-icon.svg" alt="러쉬 유튜브 채널 아이콘 이미지입니다."></a></li>
                        <li><a href="#none"><img src="/images/icon/lush-kakao-icon.svg" alt="러쉬 카카오 채널 아이콘 이미지입니다."></a></li>
                        <li><a href="#none"><img src="/images/icon/lush-x-icon.svg" alt="러쉬 X 계정 아이콘 이미지입니다."></a></li>
                        <li><a href="#none"><img src="/images/icon/lush-naver-icon.svg" alt="러쉬 네이버 쇼핑 아이콘 이미지입니다."></a></li>
                    </ul>
                </div>
            </div>
    </div> <!--inner-->
</footer>